<a href="https://colab.research.google.com/github/thiago-carneiro/annot/blob/main/exemplos_de_convers%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exemplos de conversões entre diferentes tipos, funções de arredondamento e de manipulação de texto

por Thiago Carneiro: https://github.com/thiago-carneiro

## Criando o DataFrame com múltiplos formatos básicos

In [1]:
lista_inteiros = list(range(11))
lista_inteiros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
lista_reais = list(map(float,lista_inteiros))
lista_reais

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

In [3]:
lista_strings = list(map(str,lista_reais))
lista_strings

['0.0', '1.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', '10.0']

In [4]:
"""
poderia ter inserido as colunas uma a uma direto no dataframe tb:

df[coluna]=coluna

de certa forma me sinto mais à vontade com as estruturas básicas do
Python (velhos hábitos...), mas aqui realmente vejo que exagerei... rs
"""

dicionario_de_listas = dict()
dicionario_de_listas['inteiros']=lista_inteiros
dicionario_de_listas['reais']=lista_reais
dicionario_de_listas['strings']=lista_strings
dicionario_de_listas

{'inteiros': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'reais': [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0],
 'strings': ['0.0',
  '1.0',
  '2.0',
  '3.0',
  '4.0',
  '5.0',
  '6.0',
  '7.0',
  '8.0',
  '9.0',
  '10.0']}

In [5]:
import pandas as pd

df = pd.DataFrame(dicionario_de_listas)
df

    inteiros  reais strings
0          0    0.0     0.0
1          1    1.0     1.0
2          2    2.0     2.0
3          3    3.0     3.0
4          4    4.0     4.0
5          5    5.0     5.0
6          6    6.0     6.0
7          7    7.0     7.0
8          8    8.0     8.0
9          9    9.0     9.0
10        10   10.0    10.0

## Conversões entre tipos

In [6]:
"""
em geral, prefiro aplicar as funções do Pandas, pois podem estar otimizadas,
mas na pressa ou caso não lembre a função, pode ser feito tb com apply:

df['reais_para_inteiros']=df['reais'].apply(int)
"""

df['reais_para_inteiros']=df['reais'].astype(int)
df[['reais','reais_para_inteiros']]

    reais  reais_para_inteiros
0     0.0                    0
1     1.0                    1
2     2.0                    2
3     3.0                    3
4     4.0                    4
5     5.0                    5
6     6.0                    6
7     7.0                    7
8     8.0                    8
9     9.0                    9
10   10.0                   10

In [7]:
"""
se fosse com apply, precisaria usar uma função lambda pra concatenar as funções:

df['strings_para_inteiros']=df['strings'].apply( lambda x : int(float(x)) )
"""

df['strings_para_inteiros']=df['strings'].astype('float').astype('int')
df[['strings','strings_para_inteiros']]

   strings  strings_para_inteiros
0      0.0                      0
1      1.0                      1
2      2.0                      2
3      3.0                      3
4      4.0                      4
5      5.0                      5
6      6.0                      6
7      7.0                      7
8      8.0                      8
9      9.0                      9
10    10.0                     10

## Manipulação dos números representados como strings

In [8]:
"""
embora uma das razões de ser das funções lambda seja evitar ter que nomeá-las,
às vezes armazená-las numa variávei com nome esclarecedor pode deixar o código
mais claro, na minha opinião.

Se quisesse ser _muito_ preciosista, poderia apagar a variável depois:

del slice_ate_ponto
"""

slice_ate_ponto = lambda x : x[0:x.find('.')]
df['strings_usando_slice']=df['strings'].apply(slice_ate_ponto)
df[['strings','strings_usando_slice']]

   strings strings_usando_slice
0      0.0                    0
1      1.0                    1
2      2.0                    2
3      3.0                    3
4      4.0                    4
5      5.0                    5
6      6.0                    6
7      7.0                    7
8      8.0                    8
9      9.0                    9
10    10.0                   10

### pequena digressão

In [9]:
#a função lambda continua existindo:
slice_ate_ponto

In [10]:
#apagando a variável (desnecessário, mas fica pra exemplo)
del slice_ate_ponto

In [11]:
#erro de variável não encontrada
try:
  slice_ate_ponto
except Exception as e:
  print(e)

name 'slice_ate_ponto' is not defined

In [12]:
df['strings_para_formato_BR']=df['strings'].str.replace('.',',')
df[['strings','strings_para_formato_BR']]

   strings strings_para_formato_BR
0      0.0                     0,0
1      1.0                     1,0
2      2.0                     2,0
3      3.0                     3,0
4      4.0                     4,0
5      5.0                     5,0
6      6.0                     6,0
7      7.0                     7,0
8      8.0                     8,0
9      9.0                     9,0
10    10.0                    10,0

## Funções de arredondamento

In [13]:
df['reais_mais_0.01']=df['reais']+0.01
df['reais_mais_0.50']=df['reais']+0.5
df['reais_mais_0.51']=df['reais']+0.51
df[['reais','reais_mais_0.01','reais_mais_0.50','reais_mais_0.51']]

    reais  reais_mais_0.01  reais_mais_0.50  reais_mais_0.51
0     0.0             0.01              0.5             0.51
1     1.0             1.01              1.5             1.51
2     2.0             2.01              2.5             2.51
3     3.0             3.01              3.5             3.51
4     4.0             4.01              4.5             4.51
5     5.0             5.01              5.5             5.51
6     6.0             6.01              6.5             6.51
7     7.0             7.01              7.5             7.51
8     8.0             8.01              8.5             8.51
9     9.0             9.01              9.5             9.51
10   10.0            10.01             10.5            10.51

In [14]:
import numpy as np

origens = ['reais','reais_mais_0.01','reais_mais_0.50','reais_mais_0.51']
conversoes = [int,np.floor,np.round,np.ceil]
destinos = []
for origem in origens:
  for conversao in conversoes:
    destino=f'{origem}_convertido_por_{conversao.__name__}'
    df[destino]=df[origem].apply(conversao)
    destinos.append(destino)
df[origens+destinos]

    reais  ...  reais_mais_0.51_convertido_por_ceil
0     0.0  ...                                  1.0
1     1.0  ...                                  2.0
2     2.0  ...                                  3.0
3     3.0  ...                                  4.0
4     4.0  ...                                  5.0
5     5.0  ...                                  6.0
6     6.0  ...                                  7.0
7     7.0  ...                                  8.0
8     8.0  ...                                  9.0
9     9.0  ...                                 10.0
10   10.0  ...                                 11.0

[11 rows x 20 columns]

# Atenção para os tipos obtidos em cada conversão:

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   inteiros                               11 non-null     int64
 1   reais                                  11 non-null     float64
 2   strings                                11 non-null     object
 3   reais_para_inteiros                    11 non-null     int64
 4   strings_para_inteiros                  11 non-null     int64
 5   strings_usando_slice                   11 non-null     object
 6   strings_para_formato_BR                11 non-null     object
 7   reais_mais_0.01                        11 non-null     float64
 8   reais_mais_0.50                        11 non-null     float64
 9   reais_mais_0.51                        11 non-null     float64
 10  reais_convertido_por_int               11 non-null     int64
 11  reais_convertido_por_floor             11 non-null     float64
 12  reais_convertido_por_round_            11 non-null     float64
 13  reais_convertido_por_ceil              11 non-null     float64
 14  reais_mais_0.01_convertido_por_int     11 non-null     int64
 15  reais_mais_0.01_convertido_por_floor   11 non-null     float64
 16  reais_mais_0.01_convertido_por_round_  11 non-null     float64
 17  reais_mais_0.01_convertido_por_ceil    11 non-null     float64
 18  reais_mais_0.50_convertido_por_int     11 non-null     int64
 19  reais_mais_0.50_convertido_por_floor   11 non-null     float64
 20  reais_mais_0.50_convertido_por_round_  11 non-null     float64
 21  reais_mais_0.50_convertido_por_ceil    11 non-null     float64
 22  reais_mais_0.51_convertido_por_int     11 non-null     int64
 23  reais_mais_0.51_convertido_por_floor   11 non-null     float64
 24  reais_mais_0.51_convertido_por_round_  11 non-null     float64
 25  reais_mais_0.51_convertido_por_ceil    11 non-null     float64
dtypes: float64(16), int64(7), object(3)
memory usage: 2.4+ KB